---
import { Image } from "astro:assets";
import headerImg from "@/assets/img/brandImg.jpg"
import { Icon } from 'astro-icon/components'
import { Dropdown, DropdownTrigger, DropdownContent, DropdownItem } from "@/components/starwind/dropdown";
---

<section class="flex justify-center py-4 w-full bg-[var(--brand-color)]">
    <div class="flex items-center justify-between w-full max-w-[1280px]">
        <div id="title-container" class="flex h-full items-center">
            <Image src={headerImg} alt="Header brand image" class="w-12 h-12" />
            <h1 class="text-[26px] text-white font-bold playfair">Romada Homes</h1>
        </div>
        <div id="navigation-container" class="my-2 mx-4">
            <div id="hamburger-div" class="max-[740px]:flex hidden gap-4">
                <Dropdown>
                    <DropdownTrigger asChild>
                        <Icon name="menu" class="w-8 h-8" />
                    </DropdownTrigger>
                    <DropdownContent align="end" class="gap-1 flex flex-col">
                        <DropdownItem as="a" href="/">Inicio</DropdownItem>
                        <DropdownItem as="a" href="#info-container">Sobre nosotros</DropdownItem>
                        <DropdownItem as="a" href="/contacto">Contáctanos</DropdownItem>
                    </DropdownContent>
                </Dropdown>
            </div>
            <div id="nav-list" class="min-[740px]:flex hidden">
                <menu class="flex gap-10 text-white font-medium">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#info-container">Sobre nosotros</a></li>
                    <li><a href="/contacto">Contáctanos</a></li>
                </menu>
            </div>
        </div>
    </div>
</section>