---
import Button from "../starwind/button"
---

<section class="flex flex-col items-center justify-center max-w-[960px] gap-6">
    <div id="title container" class="text-center w-9/10 font-black">
        <h2 class="playfair text-[var(--brand-color)] text-[28px]/10 font-black">Cada historia es única. Habla con nosotros y descubre si puedes empezar hoy mismo.</h2>
    </div>
    <div id="button-container">
        <Button class="bg-[#C96A4A] hover:bg-[#b85f41] rounded-[12px] shadow-lg py-3 px-5" size="lg">Contáctanos</Button>
    </div>
</section>