---
import { Accordion, AccordionContent, AccordionItem, AccordionTrigger } from "@/components/starwind/accordion";
---

<section class="flex flex-col items-center justify-center max-w-[960px] w-full">
    <div id="title container" class="text-left w-full">
        <h2 class="playfair text-[var(--brand-color)] text-[26px]/10 font-black">Preguntas Frecuentes</h2>
    </div>
    <div id="accordion-container" class="my-4 w-full">
        <Accordion class="flex flex-col gap-3">
            <AccordionItem value="item-1" class="rounded-[12px]">
                <AccordionTrigger class="text-[16px]">¿Qué pasa si decido no comprar la vivienda al final del contrato?</AccordionTrigger>
                <AccordionContent>No pasa nada. Puedes marcharte sin penalización. La parte del alquiler que se destinó al ahorro no es reembolsable, ya que se utilizó como parte del acuerdo de opción de compra.</AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-2" class="rounded-[12px]">
                <AccordionTrigger class="text-[16px]">¿Puedo ejercer la compra antes del año 7?</AccordionTrigger>
                <AccordionContent>Sí. A partir del tercer año, puedes ejercer tu opción de compra si ya has reunido la entrada necesaria. El precio de la vivienda se mantiene pactado desde el inicio, con una actualización del 3% anual.</AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-3" class="rounded-[12px]">
                <AccordionTrigger class="text-[16px]">¿Cuánto dinero necesito para comprar una vivienda de forma tradicional?</AccordionTrigger>
                <AccordionContent>Actualmente, los bancos exigen como mínimo un 20% del precio de la vivienda más aproximadamente un 10% adicional. En total, suele requerirse alrededor de un 30% del valor del inmueble. Con Romada Homes solo aportas entre un 5% y un  7% inicial, y el resto lo cubres mes a mes con tu alquiler.</AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-4" class="rounded-[12px]">
                <AccordionTrigger class="text-[16px]">¿Qué parte del alquiler va destinada a ahorro?</AccordionTrigger>
                <AccordionContent>Al menos el 35% de tu mensualidad se destina directamente a completar la entrada de la vivienda. El resto funciona como un alquiler habitual.</AccordionContent>
            </AccordionItem>
            <AccordionItem value="item-5" class="rounded-[12px]">
                <AccordionTrigger class="text-[16px]">¿Quién elige la vivienda?</AccordionTrigger>
                <AccordionContent>Tú decides la vivienda que te gustaría comprar. Nosotros la analizamos, la adquirimos por ti y te la alquilamos desde el primer día mientras generas ahorro para convertirla en tu hogar definitivo.</AccordionContent>
            </AccordionItem>
        </Accordion>
    </div>
</section>