---
import Button from "../starwind/button"
---

<section class="flex flex-col items-center justify-center max-w-[960px]">
    <div id="image-container" class="hero-img aspect-square">
        <h2 class="text-[28px] font-black text-white">Convierte tu alquiler en la entrada de tu futuro hogar</h2>
    </div>
    <div id="description-container" class="mt-2 mb-4">
        <h4 class="text-[16px]">No tires tu dinero en un alquiler convencional. Con Romada Homes, utilizas parte de tu alquiler mensual para ahorrar y pagar tu futura vivienda.</h4>
    </div>
    <div id="button-container">
        <Button class="bg-[#C96A4A] rounded-[12px] shadow-lg py-3 px-5" size="lg">Simula tu caso</Button>
    </div>
</section>