---
import { Image } from "astro:assets";
import infoImg1 from "@/assets/img/info1.jpg"
import infoImg2 from "@/assets/img/info2.jpg"
import infoImg3 from "@/assets/img/info3.jpg"
import infoImg4 from "@/assets/img/info4.jpg"
---

<section id="info-container" class="flex flex-col items-center justify-center max-w-[960px] w-full">
    <div id="text-container">
        <h2 class="playfair text-[var(--brand-color)] text-[36px]/10 font-black">Cómo funciona Romada Homes</h2>
        <h4 class="mt-2 mb-4">Tú eliges la vivienda y nosotros la compramos por ti, para que puedas mudarte desde el primer día como inquilino. Cada mes, una parte de tu alquiler se destina a ahorrar para la entrada de compra, permitiéndote vivir ya en la casa que quieres mientras avanzas hacia ser su propietario.</h4>
    </div>
    <ul id="cards-container" class="flex mt-6 gap-4 w-full h-auto overflow-x-auto">
        <li class="info-card">
            <Image class="h-[136px] rounded-[12px]" src={infoImg1} alt="Imagen sobre el texto 1" />
            <h4 class="text-[16px]/6 font-medium mt-2">Empiezas con una entrada reducida</h4>
            <h5 class="text-[--text-green: #737D6E] text-[14px]/5">Solo necesitas entre un 5% y un 7 % del valor de la vivienda para comenzar. Mucho menos que el 30% de una hipoteca tradicional.</h5>
        </li>
        <li class="info-card">
            <Image class="h-[136px] rounded-[12px]" src={infoImg2} alt="Imagen sobre el texto 2" />
            <h4 class="text-[16px]/6 font-medium mt-2">Alquilas y generas ahorro cada mes</h4>
            <h5 class="text-[--text-green: #737D6E] text-[14px]/5">Pagas un alquiler mensual, y el 35% o más, se destina a completar la entrada necesaria para la compra. El restante es alquiler puro.</h5>
        </li>
        <li class="info-card">
            <Image class="h-[136px] rounded-[12px]" src={infoImg3} alt="Imagen sobre el texto 3" />
            <h4 class="text-[16px]/6 font-medium mt-2">Pactamos el precio desde el principio</h4>
            <h5 class="text-[--text-green: #737D6E] text-[14px]/5">El precio de compra se fija desde el inicio del contrato y se actualiza solo un 3 % anual. Sin sorpresas ni subidas inesperadas. De esta manera te proteges ante las subidas inalcanzables del mercado.</h5>
        </li>
        <li class="info-card">
            <Image class="h-[136px] rounded-[12px]" src={infoImg4} alt="Imagen sobre el texto 4" />
            <h4 class="text-[16px]/6 font-medium mt-2">Puedes comprar cuando estés listo</h4>
            <h5 class="text-[--text-green: #737D6E] text-[14px]/5">A partir del tercer año, puedes ejercer tu opción de compra con todas las ventajas acumuladas. Y si no quieres comprar antes, en el año 7 habrás ahorrado lo suficiente para pagar la entrada de tu vivienda y hacerla tuya.</h5>
        </li>
    </ul>
</section>