---
const { title } = Astro.props;
---
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Basic Meta Tags -->
<title>{title}</title>
<meta
  name="description"
  content="No tires tu dinero en un alquiler convencional.  Con Romada Homes, utilizas parte de tu alquiler mensual para ahorrar y pagar tu futura vivienda."
/>
<meta name="keywords" content="Casa, Hogar, Alquiler, Dinero, Inmobiliaria, Pagar" />
<meta name="author" content="COBRAZ" />

<!-- Favicons -->
<link rel="icon" href="/brandImg.jpg" type="image" />

<!-- Favicon for IE -->
<link rel="shortcut icon" href="/brandImg.jpg" type="image/x-icon" />

<!-- Canonical URL -->
<link rel="canonical" href="https://romadahomes.com/" />

<!-- Additional SEO -->
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />