---

---

<section class="flex flex-col items-center justify-center max-w-[960px] gap-6 text-[var(--text-green)] text-[16px] w-full">
    <div id="container-1" class="flex justify-between w-full">
        <h5>Política de Privacidad</h5>
        <h5>Terminos de Servicio</h5>
    </div>
    <div id="container-2" class="text-center w-full">
        <h5>© 2025 Romada Homes. Todos los derechos reservados.</h5>
    </div>
</section>